footer {
    background-color: #E1C7EB;
    position: fixed;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
  
    .footer-links {
      margin-bottom: 10px;
  
      a {
        text-decoration: none;
        color: black;
        margin: 0 10px;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
  
        &:hover {
          color: darkviolet;
        }
      }
    }
  
    p {
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      color: black;
      margin-top: 10px;
    }
  }